//^ COLORS:
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light:#ffb900;
$secondary-color-dark:#ff7730;

$tertiary-color-light:#2998ff;
$tertiary-color-dark:#5643fa;

$white-color: #fff;
$dark-color: #000;

$gray-light-v1:#f7f7f7;
$gray-light-v2:#eee;
$gray-dark: #777;
$gray-dark-v2: #999;
$gray-dark-v3: #333;

//^ FONTS:
$font-size-base: 1.6rem;
